/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

body {
     /*padding: 20px;*/
		 margin: 0;
		 padding: 0;
		 font-family: "Futura", Verdana, serif;
		 font-size: 15px;
}

p {
	padding: 20px;
}

h2 {
	margin-top: 100px;
	color: white;
	font-size: 50px;
	padding-left: 60px;
}

h1 {
	margin-top: 50px;
	color: black;
	font-size: 50px;
	padding-left: 20px;
}

header {
	background-color: white;
}

.info {
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: "Futura", Verdana, serif;
	margin-top: 80px;
}

.nav {
		top: 0;
		width: 100%;
		height: 90px;
		background-color: #ccdfde;
		display: block;
		position: fixed:absolute;
}

.navigationHome{
	display: inline;
	text-align: center;
}

.navigationHome .left {
    float: left;
		font-family: "Autumn in November", "Futura", Verdana, serif;
		font-size: 25px;
		color: #B03D40;
		padding: 25px 25px;
		text-decoration: none;
		display: inline;
		font-weight: bolder;
		margin-top: -15px;
		padding-top: 45px;
}

.navigationHome .right {
    float: right;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		color: black;
		text-decoration: none;
		display: inline;
		padding: 35px 25px;
		margin-left: 0px;
		margin-right: 0px;
	}

.navigationHome a:hover{
	background-color: white;
}


.navigation{
	display: inline;
	text-align: center;
}

.navigation .left {
    float: left;
		font-family: "Autumn in November", "Futura", Verdana, serif;
		font-size: 25px;
		color: #B03D40;
		padding: 25px 15px;
		text-decoration: none;
		display: inline;
		margin-top: -15px;
		padding-top: 45px;
}

.navigation .right {
    float: center;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		color: black;
		text-decoration: none;
		display: inline;
		margin-top: -25px;
		margin-left: 300px;
		margin-right: -290px;
		padding: 34px 25px;
	}

.navigation a:hover{
	background-color: white;
}

/*.navigation #searchNav{
	float: center;
	display: inline;
	/*margin-left: 210px;*/
	/*background-color: white;*/
	/*margin-top: 20px;
	height: 50px;
	padding-left: 10px;
	width: 600px;
}*/

.navigation #searchNav {
		float: center;
		padding: 6px;
		margin-top: 21px;
		margin-left: 130px;
		font-size: 20px;
		color: #bfbfbf;
		background: white;
		display: inline-block;
		height: 38px;
		width: 690px;
}

.navigation input[type=text] {
    padding: 12px;
    border: none;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		width: 225px;
		height: 25px;
		color: black;
		margin-top: -6px;
		outline: none;
}

.navigation #submit {
		padding: 15px;
		border: none;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		cursor: pointer;
		width: 90px;
		height: 25px;
		background-color: #6ca2a0;
		text-decoration: none;
		color: black;
		margin-right: -245px;
		margin-left: -5px;
}

.navigation .searchbar button {
	float: center;
  width: 100px;
	height: 30px;
  padding: 6px;
	margin-left: 600px;
  background: #ccdfde;
  color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
	display: block;
}


.searchbar {
		float: center;
		padding: 0px;
		margin-top: -100px;
		margin-right: 100px;
		margin-left: 180px;
		font-size: 20px;
		height: 65px;
		border: 1px solid gray;
		color: #bfbfbf;
		background: white;
		display: inline-block;
		padding-left: 6px;
}


.searchbar placeholder {
    float: center;
    padding: 6px;
    /*border: 1px solid blue;*/
		margin-right: 80px;
		display: inline;
}


.searchbar input {
    float: center;
    padding: 6px;
    border: none;
		width: 300px;
		height: 50px;
    font-size: 20px;
		margin-right: 50px;
		font-family: "Futura", Verdana, serif;
		color: black;
		font-weight: lighter;
		display: inline;
		outline: none;
}

.searchbar #submit {
	text-align: center;
  float: right;
  width: 80px;
	height: 29px;
  padding: 18px 38px;
	margin-left: -20px;
	background-color: #6ca2a0;
	text-decoration: none;
	color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.commentForum {
  width: 600px;
  padding: 15px;
	border: 0.5px solid grey;
	margin-left: 75px;
	background-color: white;
	margin-bottom: 20px;
}

.leftColForum {
	float: left;
	width: 60%;
	padding: 0px;
}

.rightColForum {
	float: right;
	padding: 0px;
	width: 36%;
	padding: 0px;
}

.forumLinks {
	padding: 0px;
}

.containerForumAnswers {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
}

.container {
	width: 100%;
	padding: 75px;
}
.first {
	width: 45%;
	float: left;
	height: 100%;
	background-color: clear;
}
.second {
	width: 45%;
	float: left;
	height: 100%;
	background-color: clear;
	border-left: 3px solid white;
	padding-left: 20px;
}

.login input {
	float: center;
	padding: 10px;
	border: none;
	width: 200px;
	height: 20px;
	font-size: 15px;
	font-family: "Futura", Verdana, serif;
	color: black;
	font-weight: lighter;
}

.login button {
float: center;
width: 100px;
height: 20px;
padding: 10px;
margin-left: 40px;
background: #ccdfde;
color: black;
font-size: 15px;
font-family: "Futura", Verdana, serif;
border-left: none; /* Prevent double borders */
cursor: pointer;
}

#logintext {
color: white;
}

#profilePic {
	float: left;
}

.forumComment {
	font-size: 15px;
	color:black;
	font-family: "Futura", Verdana, serif;
	border: 1px solid black;
	padding: 10px;
}

//PROFILE PAGE START

.profileRow1{
	border: 5px solid black;
	margin-top: 7px;
	margin-left: 8px;
	margin-right: 8px;
}

.profileRow1 .column{
  float: left;
  padding: 10px;
}

.profileRow1 .left{
	width: 20%;
	/* border: 3px solid black; */
}

.profileRow1 .right{
	width: 65%;
	/* border: 3px solid black; */

}

.profileRow1:after {
    content: "";
    display: table;
    clear: both;
}

/* #pic {
	width: 15%;
}

#contact {
	width: 65%;
} */

/* #contact h1{
	font-size: 32px;
	margin-bottom: 2px;
}

#contact p {
	font-size: 16px;
} */

.column2 {
		margin-top: 7px;
		margin-left: 7px;
		border: 3px solid black;
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
}

.img-thumbnail{
	max-width: 250px;
	max-height: 250px;
	align: left;
	padding: 30px;
}

#messageIcon{
	max-width: 50px;
	max-height: 50px;
	align: left;
	margin-left: 17px;
}

.titleProf{
	text-align: center;
	border-bottom: 3px solid gray;
}

#profileName{
	color: #6ca2a0;
}

.profileRow2 {
	width: 100%;
}

.profileRow2 h3{
	color: #6ca2a0;
}

//PROFILE PAGE END

body
{
  background-color: #e9eaed;
}

.loginButton {
	background-color: clear; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.loginButton {
	background-color: white;
	color: black;
	border: 2px solid white;
}

.loginButton:hover {
	background-color: white;
	color: white;
}

.forumResultsTemplate {
  width: 600px;
  padding: 15px;
	border: 0.5px solid grey;
	margin-left: 75px;
	background-color: white;
	}

	.viewThreadButton {
	background-color: #6ca2a0;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	border-radius: 8px;
}

.descriptionForum {
	text-align: center;
	margin-top: 160px;
	font-size: 25px;
	color: white;
	font-family: "Futura", Verdana, serif;
	padding-bottom: 10px;
}

.leftForum {
	float: left;
	/*width: 300px;*/
	width: 25%;
	height: 150px;
	background-color: #ccdfde;
	margin-top: -30px;
}


.rightForum {
	float: right;
	/*width: 1057px;*/
	width: 75%;
	background-color: #ccdfde;
	height: 150px;
	margin-top: -30px;
}

.leftForum a {
	text-decoration: none;

}


.leftForum h4:hover{
	color: white;
}

.leftForum h4 {
	font-family: "Futura", Verdana, serif;
	font-size: 40px;
	color: black;
	text-decoration: none;
	margin-top: 20px;
	background-color: #6ca2a0;
	/*width: 230px;*/
	width: 60%;
	margin-left: 50px;
	padding-left: 25px;
	border-radius: 25px;
	box-shadow: 2px 2px #888888;
	text-decoration: none;
}

.rightForum h4 {
	font-family: "Futura", Verdana, serif;
	font-size: 25px;
	color: black;
	padding-left: 55px;
	padding-top: 15px;
	margin-top: 0px;
}

.rightForum a {
	font-family: "Futura", Verdana, serif;
	font-size: 15px;
	padding-left: 55px;
	margin-top: 0px;
	padding-bottom: 50px;
}

#myText {
	float: center;
	padding: 0px;
	font-size: 20px;
	height: 21px;
	width: 300px;
	border: 1px solid gray;
	color: #bfbfbf;
	background: white;
	display: inline-block;
	padding-left: 6px;
}

#myText {
	font-size: 15px;
	font-family: "Futura", Verdana, serif;
	color: black;
	outline: none;
}

#myText2 {
	float: center;
	padding: 0px;
	font-size: 20px;
	height: 21px;
	width: 300px;
	border: 1px solid gray;
	color: #bfbfbf;
	background: white;
	display: inline-block;
	padding-left: 6px;
}

#myText2 {
	font-size: 15px;
	font-family: "Futura", Verdana, serif;
	color: black;
	outline: none;
}

#myText3 {
	float: center;
	padding: 0px;
	font-size: 20px;
	height: 21px;
	width: 300px;
	border: 1px solid gray;
	color: #bfbfbf;
	background: white;
	display: inline-block;
	padding-left: 6px;
}

#myText3 {
	font-size: 15px;
	font-family: "Futura", Verdana, serif;
	color: black;
	outline: none;
}

#forumComment {
	width: 80px;
	  height: 24px;
	  background-color: #6ca2a0;
	  text-decoration: none;
	  color: black;
	font-size: 15px;
	  font-family: "Futura", Verdana, serif;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

.forumQuestionComment {
	float: center;
	padding: 0px;
	font-size: 80px;
	height: 62px;
	width: 500px;
	border: 1px solid gray;
	color: #bfbfbf;
	background: white;
	display: inline-block;
	padding-left: 6px;
	font-size: 20px;
	font-family: "Futura", Verdana, serif;
	color: black;
	outline: none;
}

.forumInput #submit {
	text-align: center;
  width: 80px;
	height: 35px;
  padding: 19px 39px;
	padding-top: 18px;
	padding-bottom: 20px;
	margin-left: -20px;
	background-color: #6ca2a0;
	text-decoration: none;
	color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
